// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import "node_modules/font-awesome/scss/font-awesome.scss";
// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "admin-dashboard-cards";
@import "category-card";
@import "guest-welcome";
body {
    font-family: "Nunito", sans-serif;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.category-item {
    margin-top: 50px;
}
.category-item .pi-pic img {
    min-width: 100%;
    width: 300px;
    height: 500px;
}

.product-item .pi-pic img {
    min-width: 100%;
    width: 300px;
    height: 500px;
}

.add-to-cart-btn {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #ff084e;
    display: block;
}

.img-category {
    height: 400px;
}
