/* Navbar --------------------------------*/

.navbar {
    top: 20px;
    .navbar-brand {
        font-size: 20px;
        color: #fff;
        font-weight: 700;
        &:hover {
            color: #e86267 !important;
        }
    }
    .nav-link {
        font-size: 18px;
        padding-left: 20px;
        padding-right: 20px;
        letter-spacing: 1px;
        color: #fff !important;
        font-weight: 500;

        &:hover {
            background: #e86267;
            border-radius: 20px;
        }
    }
    .btn-login {
        color: #fff;
        font-size: 20px;
        &:hover {
            color: #e86267;
        }
    }
    .btn-signup {
        padding: 6px 15px;
        font-size: 18px;
        color: #fff;
        background: #e86267;
        border-radius: 20px;
    }
}

.navbar.scrolled {
    top: 0;
    background-color: #d15357 !important;
    color: black;
    transition: background-color 200ms linear;
}

.navbar.scrolled .nav-link {
    color: #555;
}
/* Hero Section --------------------------------*/
#hero {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;

    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("/images/dev/bg-pizza.jpg") center center no-repeat;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#hero #hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#hero h1 {
    margin: 30px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
}

#hero h2 {
    color: #eee;
    margin-bottom: 50px;
    font-size: 24px;
}

#hero .btn-get-started {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #e86267;
    color: white;
    text-decoration: none;

    &:hover {
        color: white;
        box-shadow: 0 0 30px 0 transparentize(#e86267, 0.5);
        background-color: #e86267;
    }
}
/* Sections --------------------------------*/
.section-header .section-title {
    font-size: 32px;
    color: #e86267;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
    padding-bottom: 60px;
}

/* Services Section --------------------------------*/
#services {
    background: #fff;
    background-size: cover;
    padding: 80px 0 80px 0;
}

.serviceBox {
    padding: 70px 20px;
    margin-bottom: 50px;
    text-align: center;
    position: relative;
}
.serviceBox .service-icon {
    color: #fff;
    background: linear-gradient(#e86267, #ee5b60);
    font-size: 45px;
    width: 100%;
    height: 80px;
    border-radius: 10px 10px 100px;
    transform: translateX(-50%);
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
}
.serviceBox .service-content {
    background: #e86267;
    padding: 90px 30px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 1;
}
.serviceBox .service-content:before {
    content: "";
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 18px 18px 190px 18px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.serviceBox .title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 40px;
    text-transform: uppercase;
}
.serviceBox .image-box img {
    height: 50%;
    width: 50%;
}
